# 依赖
/node_modules
/.pnp
.pnp.*
.yarn/*

# 构建
/.next/
/out/
/build

# 环境变量
.env*

# 调试
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# 系统
.DS_Store
*.pem

# TypeScript
next-env.d.ts
